*
{
    margin: 0px;
    padding: 0px;
}
img.logo{
    width: 220px;
    height: 60px;
    background-color: black;
}

header{
    display: flex;
    justify-content:space-between ;
    background-color: black;
    align-items: center;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
    padding-left: 10px;
}
.nav-links li a{
    color:white
}
.nav-links li a:hover{
    color:red
}



.btn-login{
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(42,216,239,1.0);
    border-style: none;
    color: blanchedalmond;
    margin: 20px;
    
}

.btn-login:hover{
    background-color: aqua;
    cursor: pointer;
}


nav{
  margin-top: 20px;  
}

.big{
    font-size: 60px;
}


.small{
    font: size 25px;
}
        .main-image{
            height: 100px;
            width: 150px;
        }

.main{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(124, 147, 78);
}

.getstarted{
    height: 50px;
    width: 75px;
    background-color:aqua;
    color: white;
    margin-left: auto;
    border-radius: 15px;
}

.clients-logo-div{
    display: flex;
    padding-top: 20px;
    align-content: center;
    background-color: gray;
}

.client-logo{
    height: 7%;
    width: 7%;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    
    
}


.ourclients-div{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'mooli', sans-serif;
    color:orchid ;
}
.aboutus-div{
    padding-top: 50px;
    text-align: center;
    color: orange;
}

.hero{
    width: 45%;
    height: 45%;
}






